*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color:#ff7861;
  
  font-size: 20px;
  
}
#modal{
    position: absolute;
    top:-1000px;
    justify-content: center;
    text-align: center;
    
}
.barra{
    display: flex;
    justify-content: center;
    align-items: center ;
    
}
.con_barra {
  display: flex;
  justify-content: center;
  gap:20px ;
  padding-top: 70px ;

}
.barra-modal{
  display: flex;
  justify-content: end;
  
  width: 250px;
}
#cerrarModal{
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 0, 0);
    color: white;
}
.container_modal{
    border: 1px solid rgb(0, 0, 0);
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    display: flex ;
    flex-direction: column ;
    align-items :center ;
    gap:10px;
    
}
.main{
    display: flex;
    justify-content: center;
}
.container_pokemon{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    gap:30px;
    flex-wrap: wrap;
    width: 1000px;
}
.target_pokemon_green{
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(93, 93, 145);
    padding: 20px;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background-color:#b1e2ba;
}
.target_pokemon_red{
  justify-content: center;
  text-align: center;
  border: 1px solid rgb(93, 93, 145);
  padding: 20px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: #ff9baf;
}
.target_pokemon_blue{
  justify-content: center;
  text-align: center;
  border: 1px solid rgb(93, 93, 145);
  padding: 20px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: #c7efed;
}
.target_pokemon_gray{
  justify-content: center;
  text-align: center;
  border: 1px solid rgb(93, 93, 145);
  padding: 20px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color:#7d7575;
}
.target_pokemon_white {
  justify-content: center;
  text-align: center;
  border: 1px solid rgb(93, 93, 145);
  padding: 20px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: #4c7173;
}

.target_pokemon_yellow {
  justify-content: center;
  text-align: center;
  border: 1px solid rgb(93, 93, 145);
  padding: 20px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: #eac74a;
}
.target_pokemon_default {
  justify-content: center;
  text-align: center;
  border: 1px solid rgb(93, 93, 145);
  padding: 20px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color:#f4eaf5;
}
.imagen{
  width: 200px;
  height: 200px;
}
.imagen_pokemon{
    width: 180px;
    height: 180px;
    background-color:white;
    border-radius :50%;
    margin-bottom: 20px;
    margin: 25px ;
}
.con_bus{
    margin-top: 20px;
    padding-left: 20px;
    display: flex;
    text-align: center ;
    font-size: 30px;
    gap :20px;
    justify-content:center;
}
#buscador{
    width: 300px;
    height: 50px;
    font-size: 30px;
    border: solid 1px;
    border-radius: 10px;
    
}
#btnBuscar{
    width: 70px;
    height: 50px;
    background-color: seagreen;
    color:white;
    border: solid 1px;
    border-radius: 10px;
    
}
@media (max-width: 575px) {
  #container_pokemon{
    width: 400px;
  }
 .con_bus{
   text-align: center ;
   flex-direction: column;
   align-items: center ;
 }
 #buscador{
    width: 200px;
    height: 50px;
    font-size: 30px;
    
}
}
.ocultar{
  display:none;
  top:-1000px;
}